---
import colSpan1RowSpan1 from "@/assets/col-span-1-row-span-1.png";
import colSpan3RowSpan1 from "@/assets/col-span-3-row-span-1.png";
import colSpan8RowSpan1 from "@/assets/col-span-8-row-span-1.png";
import { Image } from "astro:assets";
---

<>
	<div class={`col-span-1 row-span-1`}>
		<Image
			alt="A cartoon cactus looking at the 'Astro.build' logo"
			class="h-full"
			loading="eager"
			src={colSpan1RowSpan1}
		/>
	</div>
	<div class="col-span-8 row-span-1">
		<Image
			alt="A cartoon cactus looking at the 'Astro.build' logo"
			loading="eager"
			src={colSpan8RowSpan1}
		/>
	</div>
	<div class="col-span-3 row-span-1">
		<Image
			alt="A cartoon cactus looking at the 'Astro.build' logo"
			loading="eager"
			src={colSpan3RowSpan1}
		/>
	</div>
</>
