---
import GridBottom from "./GridBottom.astro";
import GridMiddle from "./GridMiddle.astro";
import GridTop from "./GridTop.astro";
---

<div class="grid grid-cols-12 grid-rows-8 outline outline-black">
	<GridTop />

	<GridMiddle />

	<GridBottom />
</div>
