---
import { Icon } from "astro-icon/components";

import GridBottom from "./GridBottom.astro";
import GridMiddle from "./GridMiddle.astro";
import GridTop from "./GridTop.astro";

const pseudoElementClass =
	'before:bg-[url("../assets/kandy-korner.jpg")] before:bg-cover before:h-full before:w-full before:absolute before:top-0 before:left-0';

const kwicherbelliakenPseudoElementClass =
	"cursor-pointer after:content-[attr(data-hover)] hover:after:visible hover:after:opacity-100 after:text-8xl after:text-accent after:whitespace-nowrap after:transition-opacity after:duration-750 after:ease-in-out after:delay-75 after:invisible after:absolute ";

const getPseudoElementClass = (explainer: "aching" | "belly" | "quit" | "yer") => {
	if (explainer === "quit") {
		return `${kwicherbelliakenPseudoElementClass} after:bottom-0 after:right-0`;
	} else if (explainer === "yer") {
		return `${kwicherbelliakenPseudoElementClass} after:top-0 after:left-0`;
	} else if (explainer === "belly") {
		return `${kwicherbelliakenPseudoElementClass} after:bottom-0 after:left-0`;
	}
};
---

<div>
	<div class="relative pb-8">
		<div
			class="group absolute grid h-full w-full grid-cols-12 grid-rows-1 [&:not(:hover)]:bg-transparent"
		>
			<div
				class=`col-span-5 ${getPseudoElementClass("quit")} group-hover:bg-bgColor hover:!bg-transparent`
				data-hover="quit"
			>
			</div>
			<div
				class=`col-span-2 ${getPseudoElementClass("yer")} hover:!bg-transparent group-hover:bg-bgColor`
				data-hover="yer"
			>
			</div>
			<div
				class=`col-span-2 ${getPseudoElementClass("belly")} hover:!bg-transparent group-hover:bg-bgColor`
				data-hover="belly"
			>
			</div>
			<div
				class=`col-span-3 ${getPseudoElementClass("belly")} hover:!bg-transparent group-hover:bg-bgColor`
				data-hover="aching"
			>
			</div>
		</div>

		<Icon class="h-auto w-full" name="kwicherbelliaken" />
	</div>

	<div class={`${pseudoElementClass} grid grid-cols-12 grid-rows-8 relative outline outline-black`}>
		<GridTop />

		<GridMiddle />

		<GridBottom />
	</div>
	<div class="mt-2 p-2 text-[0.5rem] italic leading-3 outline outline-accent">
		That’s a dairy, New Zealand’s answer to a corner store, for kids what the boozer is for
		grown-ups. I spent endless afternoons, days even, out front, working through two-dollar
		mixtures, back when two dollars meant something and could get you pillowey bag of sweets.
	</div>
</div>
