@import "./expressive-code.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "After-All-Regular";
	src: url("/fonts/after-all-regular.otf") format("opentype");
	font-display: swap;
}

@font-face {
	font-family: "Maison-Neue-Mono";
	src: url("/fonts/maison-neue-mono.ttf") format("truetype");
}

@font-face {
	font-family: "Charter-Regular";
	src: url("/fonts/charter-regular.woff2");
}

@layer base {
	:root,
	:root[data-theme="light"] {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg-default: 0deg 0% 81%;
		--theme-link: 223deg 77% 45%;
		/* --theme-text: 203deg 11% 15%; */
		--theme-text: 251deg 86% 39%;
		--theme-accent: 0deg 100% 50%;
		--theme-quote: 335deg 80% 72%;

		--base-colour-neutral-50: 0deg 0% 100%;
		--base-colour-neutral-100: 0deg 0% 95%;
		--base-colour-neutral-200: 0deg 0% 85%;
		--base-colour-neutral-300: 0deg 0% 75%;
		--base-colour-neutral-400: 0deg 0% 65%;
		--base-colour-neutral-500: 0deg 0% 55%;
		--base-colour-neutral-600: 0deg 0% 45%;
		--base-colour-neutral-700: 0deg 0% 35%;
		--base-colour-neutral-800: 0deg 0% 25%;
		--base-colour-neutral-900: 0deg 0% 15%;
		--base-colour-neutral-950: 0deg 0% 10%;

		--base-colour-blue-50: 223deg 89% 95%;
		--base-colour-blue-100: 223deg 87% 92%;
		--base-colour-blue-200: 223deg 86% 86%;
		--base-colour-blue-300: 223deg 84% 81%;
		--base-colour-blue-400: 223deg 82% 75%;
		--base-colour-blue-500: 223deg 81% 70%;
		--base-colour-blue-600: 223deg 81% 64%;
		--base-colour-blue-700: 223deg 81% 59%;
		--base-colour-blue-800: 223deg 81% 53%;
		--base-colour-blue-900: 223deg 77% 48%;
		--base-colour-blue-950: 223deg 77% 45%;

		--base-colour-red-50: 335deg 80% 97%;
		--base-colour-red-100: 335deg 80% 96%;
		--base-colour-red-200: 335deg 80% 93%;
		--base-colour-red-300: 335deg 80% 90%;
		--base-colour-red-400: 335deg 80% 88%;
		--base-colour-red-500: 335deg 80% 85%;
		--base-colour-red-600: 335deg 80% 82%;
		--base-colour-red-700: 335deg 80% 79%;
		--base-colour-red-800: 335deg 80% 77%;
		--base-colour-red-900: 335deg 80% 74%;
		--base-colour-red-950: 335deg 80% 72%;
	}

	:root[data-theme="dark"] {
		color-scheme: dark;
		--theme-bg-default: 210deg 6% 12%;
		--theme-link: 330deg 49% 67%;
		--theme-text: 220deg 3% 79%;
		--theme-accent: 159deg 64% 45%;
		--theme-quote: 102deg 100% 86%;
	}

	/**
   * Scroll margin is used to ensure that the element is not hidden behind the header.
   */
	html {
		@apply relative scroll-pt-16 scroll-smooth md:scroll-pt-20;
	}

	body {
		@apply mx-auto flex min-h-screen max-w-7xl flex-col bg-bgColour-default px-8 pt-16 font-mono text-sm font-normal text-fgColour-default antialiased;
	}

	main {
		@apply mt-8 sm:mt-28;
	}

	h1 {
		@apply pb-6 font-afterAllRegular text-4xl font-bold tracking-wide md:text-6xl;
	}

	h2 {
		@apply mb-0 pb-6 font-charterRegular text-2xl font-bold tracking-wide md:text-4xl;
	}

	h3 {
		@apply font-charterRegular text-xl font-bold tracking-wide md:text-2xl;
	}

	p {
		@apply font-maisonNeueMono;
	}
}
