@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "After-All-Regular";
	src: url("/fonts/after-all-regular.otf") format("opentype");
	font-display: swap;
}

@font-face {
	font-family: "Maison-Neue-Mono";
	src: url("/fonts/maison-neue-mono.ttf") format("truetype");
}

@font-face {
	font-family: "Charter-Regular";
	src: url("/fonts/charter-regular.woff2");
}

@layer base {
	:root,
	:root[data-theme="light"] {
		color-scheme: light;
		/* https://tailwindcss.com/docs/customizing-colors#using-css-variables */
		--theme-bg-default: 0deg 0% 81%;
		--theme-link: 251deg 86% 39%;
		/* --theme-text: 203deg 11% 15%; */
		--theme-text: 251deg 86% 39%;
		--theme-accent: 0deg 100% 50%;
		--theme-accent-2: 0deg 0% 7%;
		--theme-quote: 351deg 66% 48%;

		--base-colour-neutral-50: 0deg % 100%;
	}

	:root[data-theme="dark"] {
		color-scheme: dark;
		--theme-bg-default: 210deg 6% 12%;
		--theme-link: 330deg 49% 67%;
		--theme-text: 220deg 3% 79%;
		--theme-accent: 159deg 64% 45%;
		--theme-accent-2: 0deg 0% 93%;
		--theme-quote: 102deg 100% 86%;
	}

	html {
		@apply relative scroll-smooth;
	}

	body {
		@apply mx-auto flex min-h-screen max-w-3xl flex-col bg-bgColour-default px-8 pt-16 font-mono text-sm font-normal text-textColor antialiased;
	}

	main {
		@apply mt-8 sm:mt-28;
	}

	h1 {
		@apply pb-6 font-afterAllRegular text-4xl font-bold tracking-wide md:text-6xl;
	}

	h2 {
		@apply pb-6 font-afterAllRegular text-2xl font-bold tracking-wide md:text-4xl;
	}

	p {
		@apply font-maisonNeueMono;
	}
}
