---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description:
		"I'm was a starter theme for Astro.build. I am now an about page for Kwicherbelliaken.studio",
	title: "About",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="">About</h1>
		<p>I'm him.</p>
	</div>
</PageLayout>
